<div class="row mt-3">
  <div class="col-12">
    <h1>Editing Event</h1>
  </div>

  <div class="col-12 mt-3">
    <%= render 'form', event: @event %>
  </div>

  <div class="col-12 mt-3">
    <%= link_to 'Back', activity_path(@event.activity_id) %>
  </div>
</div>
