<div class="row my-3">
  <div class="col">
    <h2>Record Mov</h2>
  </div>
</div>

<%= simple_form_for(@event) do |f| %>
  <div class="row">
    <div class="col-12">
      <%= f.input :activity_id, as: :select, collection: @activities.map { |a| [a.title, a.id]}, label: false, prompt: '- Select from past Movs -' %>

      <div class="form-group">
        <%= text_field_tag('activity[title]', @activity.title, placeholder: 'Or create a new one...', class: 'form-control') %>
      </div>
    </div>

    <div class="col-12 my-2">
      <div class="actions">
        <%= f.submit "Save Mov", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
