<div class="container">
  <div class="row">
    <div class="col-12">

      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link">Record Mov<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE', class: 'nav-link' %>
        </li>
      </ul>

    </div>
  </div>
</div>
